body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span.Border {
    display: inline-block;
    width: 50pt;
    margin: 0 auto;
}

nav.Hexaria-nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: aqua url("Image/EggRelic.webp") repeat center center / cover;
    height: 50px;
    width: 100%;
}

li {
    display: inline-block;
    margin-left: 8px
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

section.Hexaria-Main-Part {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    background: brown url("Image/ExploreThumb.webp") no-repeat center center / cover;
    height: calc(100vh - 50px);
    width: 100%;
    padding: 10px;
    border: 2px black solid;
}

section.Hexaria-Info {
    width: 400px;
    height: 400px;
    /* background-color: aquamarine; */
    border: 2px black solid;
    padding: 10px;
}

span.Enlarged-picture {
    font-size: 35px;
    margin-top: 2px;
    color: white;
}

div.Hexaria-Format-Stuff p {
    font-size: 25px;
    margin-top: 5px;
    color: white;
}

div.Hexaria-Format-Stuff h1 {
    font-size: 35px;
    margin-top: 2px;
    color: white;
}

section.Hexaria-Info h1 {
    font-size: 35px;
    margin-top: 2px;
    color: white;
}

div.Hexaria-Info-Stuff p {
    font-size: 25px;
    margin-top: 5px;
    color: white;
}

div.Hexaria-Format-Stuff {
    width: 400px;
    height: 400px;
    /* background-color: chartreuse; */
    border: 2px black solid;
    padding: 10px;
}