* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section.Hexaria-Range-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    background-color: green;
    border: 5px black solid;
    padding: 10px;
}

section.Hexaria-Range-Box div.pictures {
    height: 300px;
    width: 200px;
    background: violet url(RangePictures/Infinipievoid.png) no-repeat center center / 100%;
    border: 2px black solid;
}

section.Hexaria-Range-Box section.Hexaria-Range-Description {
    width: 300px;
    height: 200px;
    background-color: gold;
    border: 2px black solid;
}

section.Hexaria-Range-Box section.Hexaria-Range-Description h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
}

section.Hexaria-Range-Box section.Hexaria-Range-Description p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

section.Hexaria-range-videoopinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: brown;
    border: 2px black solid;
}

section.Hexaria-range-videoopinion p {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

section.Description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

section.Goback div.Back a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}